{% extends "base.html" %}
{% block content %}
<div class="container">
  <form class="form-group" method="POST">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     {{ form.hidden_tag() }}

     <div class="form-group">
    <table class="table", style="color: black;">
      <br>
      <br>

      <thead >
        <tr>
          <td> {{ form.sup2.label() }}</td>
          <td> {{ form.sup2() }}</td>
          <td> {{ form.code2.label() }}</td>
          <td> {{ form.code2() }}</td>
          <td> {{ form.sup1_id.label() }}</td>
          <td> {{ form.sup1_id() }}</td>
        </tr>
      </thead>
    </table>
    <div class="d-grid gap-2">
      {{ form.submit(class="btn btn-primary btn-lg") }}
  </div>
</div>

{% endblock content %}
